

<form action="patch '/articles/:id'" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>Updated Title: <input type="text" name="title"></p>
  <p>Updated Content: <input type="text" name="content"></p>
  <input type="submit" id="submit">
</form>
