<form action="/articles/<%= @article.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<p><h1>Current Title: <%= @article.title %></h1></p>
<p><label for="title">Update Title:</label>
<input type="text" name="title" id="title"></p>
<p>Current Article: <%= @article.content %></p>
<p><label for="content">Update Article:</label></p>
<p><textarea name="content" id="content"></p>
<p><input type="submit" id="submit"></p> 
</form> 