<form action="/articles" method="POST">
  <label>Title: </label>
  <input id="title" type="text" name="article[title]">
  <label>Content: </label>
  <input id="content" type="text" name="article[content]">
  <button type="submit">Submit</button>
</form>